{% extends "layout.html" %}
{% load static %}

{% block page_title %}Aviso legal{% endblock page_title %}

{% block page_styles %}
    <link rel="stylesheet" type="text/css" href={% static "styles/style.legal.css" %}>
{% endblock page_styles %}

{% block page_content %}
    <div class="legal-container">
        <div class="legal-banner">
            <h1>AVISO LEGAL Y CONDICIONES GENERALES DE USO</h1>
            <h3>https://baronpropiedades.cl</h3>
        </div>

        <div class="legal-general-info">
            <h2>I. INFORMACIÓN GENERAL</h2>
            <p>En cumplimiento con el marco jurídico vigente respecto a tratamiento y protección de datos en internet vigente, se facilitan a continuación los siguientes datos de información general de este sitio web:</p>
            <p>La titularidad de este sitio web, https://baronpropiedades.cl, (en adelante, Sitio Web) la ostenta: Paula Núñez Barón, con RUT: 10662460-7, y cuyos datos de contacto son:</p>
            <p>Dirección: Coquimbo, Chile</p>
            <p>Teléfono de contacto: +56977864052</p>
            <p>Email de contacto: baron@baronpropiedades.cl</p>
        </div>

        <div class="legal-terms-conditions">
            <h2>II. TÉRMINOS Y CONDICIONES GENERALES DE USO</h2>
            <h4>El objeto de las condiciones: El Sitio Web</h4>
            <p>El objeto de las presentes Condiciones Generales de Uso (en adelante, Condiciones) es regular el acceso y la utilización del Sitio Web. A los efectos de las presentes Condiciones se entenderá como Sitio Web: la apariencia externa de los interfaces de pantalla, tanto de forma estática como de forma dinámica, es decir, el árbol de navegación; y todos los elementos integrados tanto en los interfaces de pantalla como en el árbol de navegación (en adelante, Contenidos) y todos aquellos servicios o recursos en línea que en su caso ofrezca a los Usuarios (en adelante, Servicios).</p>
            <p>Baron Propiedades se reserva la facultad de modificar, en cualquier momento, y sin aviso previo, la presentación y configuración del Sitio Web y de los Contenidos y Servicios que en él pudieran estar incorporados. El Usuario reconoce y acepta que en cualquier momento Baron Propiedades pueda interrumpir, desactivar y/o cancelar cualquiera de estos elementos que se integran en el Sitio Web o el acceso a los mismos.</p>
            <p>El acceso al Sitio Web por el Usuario tiene carácter libre y, por regla general, es gratuito sin que el Usuario tenga que proporcionar una contraprestación para poder disfrutar de ello, salvo en lo relativo al coste de conexión a través de la red de telecomunicaciones suministrada por el proveedor de acceso que hubiere contratado el Usuario.</p>
            <p>La utilización de alguno de los Contenidos o Servicios del Sitio Web podrá hacerse mediante la suscripción o registro previo del Usuario.</p>
            
            <h4>El Usuario</h4>
            <p>El acceso, la navegación y uso del Sitio Web, confiere la condición de Usuario, por lo que se aceptan, desde que se inicia la navegación por el Sitio Web, todas las Condiciones aquí establecidas, así como sus ulteriores modificaciones, sin perjuicio de la aplicación de la correspondiente normativa legal de obligado cumplimiento según el caso. Dada la relevancia de lo anterior, se recomienda al Usuario leerlas cada vez que visite el Sitio Web.</p>
            <p>El Sitio Web de Baron Propiedades proporciona gran diversidad de información, servicios y datos. El Usuario asume su responsabilidad para realizar un uso correcto del Sitio Web. Esta responsabilidad se extenderá a:</p>
            <p>Un uso de la información, Contenidos y/o Servicios y datos ofrecidos por Baron Propiedades sin que sea contrario a lo dispuesto por las presentes Condiciones, la Ley, la moral o el orden público, o que de cualquier otro modo puedan suponer lesión de los derechos de terceros o del mismo funcionamiento del Sitio Web.
            La veracidad y licitud de las informaciones aportadas por el Usuario en los formularios extendidos por Baron Propiedades para el acceso a ciertos Contenidos o Servicios ofrecidos por el Sitio Web. En todo caso, el Usuario notificará de forma inmediata a Baron Propiedades acerca de cualquier hecho que permita el uso indebido de la información registrada en dichos formularios, tales como, pero no sólo, el robo, extravío, o el acceso no autorizado a identificadores y/o contraseñas, con el fin de proceder a su inmediata cancelación.
            El mero acceso a este Sitio Web no supone entablar ningún tipo de relación de carácter comercial entre Baron Propiedades y el Usuario.</p>
            <p>Siempre en el respeto de la legislación vigente, este Sitio Web de Baron Propiedades se dirige a todas las personas, sin importar su edad, que puedan acceder y/o navegar por las páginas del Sitio Web.</p>
            <p>El Sitio Web está dirigido principalmente a Usuarios residentes en Chile. Baron Propiedades no asegura que el Sitio Web cumpla con legislaciones de otros países, ya sea total o parcialmente. Si el Usuario reside o tiene su domiciliado en otro lugar y decide acceder y/o navegar en el Sitio Web lo hará bajo su propia responsabilidad, deberá asegurarse de que tal acceso y navegación cumple con la legislación local que le es aplicable, no asumiendo Baron Propiedades responsabilidad alguna que se pueda derivar de dicho acceso.</p>
        </div>

        <div class="legal-access-navigation">
            <h2>III. ACCESO Y NAVEGACIÓN EN EL SITIO WEB: EXCLUSIÓN DE GARANTÍAS Y RESPONSABILIDAD</h2>
            <p>Baron Propiedades no garantiza la continuidad, disponibilidad y utilidad del Sitio Web, ni de los Contenidos o Servicios. Baron Propiedades hará todo lo posible por el buen funcionamiento del Sitio Web, sin embargo, no se responsabiliza ni garantiza que el acceso a este Sitio Web no vaya a ser ininterrumpido o que esté libre de error.</p>
            <p>Tampoco se responsabiliza o garantiza que el contenido o software al que pueda accederse a través de este Sitio Web, esté libre de error o cause un daño al sistema informático (software y hardware) del Usuario. En ningún caso Baron Propiedades será responsable por las pérdidas, daños o perjuicios de cualquier tipo que surjan por el acceso, navegación y el uso del Sitio Web, incluyéndose, pero no limitándose, a los ocasionados a los sistemas informáticos o los provocados por la introducción de virus.</p>
            <p>Baron Propiedades tampoco se hace responsable de los daños que pudiesen ocasionarse a los usuarios por un uso inadecuado de este Sitio Web. En particular, no se hace responsable en modo alguno de las caídas, interrupciones, falta o defecto de las telecomunicaciones que pudieran ocurrir.</p>
        </div>

        <div class="legal-links">
            <h2>IV. POLÍTICA DE ENLACES</h2>
            <p>Se informa que el Sitio Web de Baron Propiedades pone o puede poner a disposición de los Usuarios medios de enlace (como, entre otros, links, banners, botones), directorios y motores de búsqueda que permiten a los Usuarios acceder a sitios web pertenecientes y/o gestionados por terceros.</p>
            <p>La instalación de estos enlaces, directorios y motores de búsqueda en el Sitio Web tiene por objeto facilitar a los Usuarios la búsqueda de y acceso a la información disponible en Internet, sin que pueda considerarse una sugerencia, recomendación o invitación para la visita de los mismos.</p>
            <p>Baron Propiedades no ofrece ni comercializa por sí ni por medio de terceros los productos y/o servicios disponibles en dichos sitios enlazados.</p>
            <p>Baron Propiedades ofrece contenidos patrocinados, anuncios y/o enlaces de afiliados. La información que aparece en estos enlaces de afiliados o los anuncios insertados, son facilitados por los propios anunciantes, por lo que Baron Propiedades no se hace responsable de posibles inexactitudes o errores que pudieran contener los anuncios, ni garantiza en modo alguno la experiencia, integridad o responsabilidad de los anunciantes o la calidad de sus productos y/o servicios.</p>
            <p>Asimismo, tampoco garantizará la disponibilidad técnica, exactitud, veracidad, validez o legalidad de sitios ajenos a su propiedad a los que se pueda acceder por medio de los enlaces.</p>
            <p>Baron Propiedades en ningún caso revisará o controlará el contenido de otros sitios web, así como tampoco aprueba, examina ni hace propios los productos y servicios, contenidos, archivos y cualquier otro material existente en los referidos sitios enlazados.</p>
            <p>Baron Propiedades no asume ninguna responsabilidad por los daños y perjuicios que pudieran producirse por el acceso, uso, calidad o licitud de los contenidos, comunicaciones, opiniones, productos y servicios de los sitios web no gestionados por Baron Propiedades y que sean enlazados en este Sitio Web.</p>
            <p>El Usuario o tercero que realice un hipervínculo desde una página web de otro, distinto, sitio web al Sitio Web de Baron Propiedades deberá saber que:</p>
            <p>No se permite la reproducción —total o parcialmente— de ninguno de los Contenidos y/o Servicios del Sitio Web sin autorización expresa de Baron Propiedades.</p>
            <p>No se permite tampoco ninguna manifestación falsa, inexacta o incorrecta sobre el Sitio Web de Baron Propiedades, ni sobre los Contenidos y/o Servicios del mismo.</p>
            <p>A excepción del hipervínculo, el sitio web en el que se establezca dicho hiperenlace no contendrá ningún elemento, de este Sitio Web, protegido como propiedad intelectual por el ordenamiento jurídico español, salvo autorización expresa de Baron Propiedades.</p>
            <p>El establecimiento del hipervínculo no implicará la existencia de relaciones entre Baron Propiedades y el titular del sitio web desde el cual se realice, ni el conocimiento y aceptación de Baron Propiedades de los contenidos, servicios y/o actividades ofrecidos en dicho sitio web, y viceversa.</p>
        </div>

        <div class="legal-intelectual-property">
            <h2>V. PROPIEDAD INTELECTUAL E INDUSTRIAL</h2>
            <p>Baron Propiedades, en su calidad de titular del Sitio Web, reconoce y respeta los derechos de propiedad intelectual de terceros, incluyendo aquellos otorgados bajo la licencia Creative Commons para determinadas imágenes incorporadas en el sitio. Así, además de los elementos de propiedad exclusiva de Baron Propiedades, como imágenes, sonido, audio, vídeo, software o textos, marcas o logotipos, etc., que son propiedad exclusiva de Baron Propiedades o de sus licenciantes, pueden existir contenidos protegidos por derechos de autor de terceros que están disponibles en el Sitio Web bajo diferentes licencias, incluyendo la licencia Creative Commons.</p>
            <p>Baron Propiedades se reserva todos los derechos sobre los elementos del Sitio Web que son de su propiedad exclusiva. La reproducción, distribución y comunicación pública, incluida su modalidad de puesta a disposición, de la totalidad o parte de los contenidos de esta página web, con fines comerciales, en cualquier soporte y por cualquier medio técnico, sin la autorización de Baron Propiedades, está expresamente prohibida, salvo en los casos permitidos por ley.</p>
            <p>El Usuario se compromete a respetar los derechos de propiedad intelectual e industrial de Baron Propiedades y de terceros. Podrá visualizar los elementos del Sitio Web, incluyendo aquellos disponibles bajo licencia Creative Commons, o incluso imprimirlos, copiarlos y almacenarlos en el disco duro de su ordenador o en cualquier otro soporte físico siempre y cuando sea, exclusivamente, para su uso personal y no comercial. El Usuario, sin embargo, no podrá suprimir, alterar o manipular cualquier dispositivo de protección o sistema de seguridad que estuviera instalado en el Sitio Web.</p>
            <p>En caso de que el Usuario o tercero considere que cualquiera de los Contenidos del Sitio Web suponga una violación de los derechos de protección de la propiedad intelectual, incluyendo aquellos otorgados bajo licencia Creative Commons, deberá comunicarlo inmediatamente a Baron Propiedades a través de los datos de contacto del apartado de INFORMACIÓN GENERAL de este Aviso Legal y Condiciones Generales de Uso.</p>
        </div>

        <div class="legal-actions">
            <h2>VI. ACCIONES LEGALES, LEGISLACIÓN APLICABLE Y JURISDICCIÓN</h2>
            <p>Baron Propiedades se reserva la facultad de presentar las acciones civiles o penales que considere necesarias por la utilización indebida del Sitio Web y Contenidos, o por el incumplimiento de las presentes Condiciones.</p>
            <p>La relación entre el Usuario y Baron Propiedades se regirá por la normativa vigente y de aplicación en el territorio chileno. De surgir cualquier controversia en relación con la interpretación y/o a la aplicación de estas Condiciones las partes someterán sus conflictos a la jurisdicción ordinaria sometiéndose a los jueces y tribunales que correspondan conforme a derecho.</p>
            <p>Este documento de Aviso Legal y Condiciones Generales de uso del sitio web ha sido creado mediante el generador de plantilla de aviso legal y condiciones de uso online el día 01/01/2024.</p>
        </div>
    </div>

{% endblock page_content %}

{% block page_scripts %}
{% endblock page_scripts %}